body{
    background: #fbedd0;
}
.page-wrap{
    background: #fbedd0;
    padding: 10px;
}
.menu{
    text-transform: uppercase;
}
.menu ul li{ 
    list-style: none;
    display: inline;
    margin-right: 10px;
}
.menu ul li a{
    text-decoration: none;
    color: #183a5e;
    font-weight: 700;
    padding: 20px 25px;
}
.menu ul li a:hover, .menu ul li.active a{
    color: #fff!important;
    background: #f2bd03;
}
.banner{
    background: #fda804;
}
.banner-text h2{
    text-transform: uppercase;
    border: 1px solid;
    padding:5px;
}
.banner-text p{
    font-weight: 600;
}
.read-button a{
    padding: 6px;
    
    text-decoration: none!important;
    color: #fff;
    background: #2c5288;
    text-align: center;
    font-size: 15px;
}
.read-btn i{
    font-size: 20px;
    margin-left: 10px;
}
.m-main-content{
    background: #fff;
    position: relative;
    padding-top: 40px;
}
.m-main-content:before{
    background-image: url("../images/shadow-l.png");
    background-repeat: repeat-y;
    bottom: 0;
    content: " ";
    display: block;
    left: -14px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 14px;
}
.m-main-content:after {
    background-image: url("../images/shadow-r.png");
    background-repeat: repeat-y;
    bottom: 0;
    content: " ";
    display: block;
    overflow: hidden;
    position: absolute;
    right: -14px;
    top: 0;
    width: 14px;
}
.about{
    background: #fbedd0;
    padding:0px 30px 30px 30px;
    text-align: center;
}
.about h3{
    padding: 40px;
    text-align: center;
    text-transform: uppercase;
}
.content{
    margin: 60px 45px 0px 45px;
    padding-bottom: 60px;
}
.service h3{
    text-transform: uppercase;
    padding-top: 160px;
}
.service-block{
    border: 1px solid #f3e2bf;
    background: #fff6e3; 
}
.service-block h4{
    padding-top: 20px;
    padding-bottom: 30px;
}
.service-block p{
    padding-bottom: 30px;
}
.service-block-content{
    padding: 10px;
}
.contact .container{
    background: #f2bd03;
}
.contact h3{
    text-transform: uppercase;
}
.form-color{
    background: #ecac01;
    border: 1px solid #f5ca35;
    color: #fff;
}
.send-button a{
    padding: 6px 30px;
    text-decoration: none!important;
    color: #fff;
    background: #2c5288;
    text-align: center;
}
.contact-company-name{
    font-weight: 700;
}
.phn-mail img{
    float: left;
}
.phn-mail p{
    padding-left: 40px;
    font-weight: 700;
}
.footer-content{
    padding: 15px;
    background: #fff;
}
.connect{
    float: left;
    padding-left: 60px;
}
.img-social{
    padding-left: 10px;
}
.copy-r{
    padding-right: 60px;
}